<div class="container">
  <h1>myThesis</h1>
  <app-search></app-search>
  <div class="menu">
    <mat-divider vertical="true"></mat-divider>
    <button mat-flat-button (click)="openAttractionListDialog()">
      Saved
      <mat-icon>favorite</mat-icon>
    </button>
    <mat-divider vertical="true"></mat-divider>
    <button mat-flat-button [matMenuTriggerFor]="menu" *ngIf="!login">
      Profile
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openLoginDialog()">Log-in</button>
      <button mat-menu-item (click)="openCreateAccountDialog()">
        Create account
      </button>
    </mat-menu>
    <button mat-flat-button [matMenuTriggerFor]="logmenu" *ngIf="login">
      {{ this.username }}
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #logmenu="matMenu">
      <button mat-menu-item (click)="openLoginDialog()">Info</button>
      <button mat-menu-item (click)="onLogOut()">Log out</button>
    </mat-menu>
    <mat-divider vertical="true"></mat-divider>
  </div>
</div>
