<div class="container">
  <div class="logo">
    <h1 [routerLink]="''">myThesis</h1>
  </div>

  <div class="searchWrapper">
    <app-search></app-search>
  </div>

  <div class="menu">
    <mat-divider vertical="true"></mat-divider>
    <button mat-flat-button (click)="openAttractionListDialog()">
      Saved
      <mat-icon>favorite</mat-icon>
    </button>

    <mat-divider vertical="true"></mat-divider>

    <button
      mat-flat-button
      [matMenuTriggerFor]="menu"
      *ngIf="!this.state.isLoggedIn"
    >
      Profile
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openLoginDialog()">Log-in</button>
      <button mat-menu-item (click)="openCreateAccountDialog()">
        Create account
      </button>
    </mat-menu>
    <button
      mat-flat-button
      [matMenuTriggerFor]="logmenu"
      *ngIf="this.state.isLoggedIn"
    >
      {{ this.state.account.username }}
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #logmenu="matMenu">
      <button mat-menu-item [routerLink]="['uploads']">Uploads</button>
      <button mat-menu-item (click)="onLogOut()">Log out</button>
    </mat-menu>

    <mat-divider vertical="true"></mat-divider>

    <span class="toggler">
      <mat-icon>light_mode</mat-icon>
      <mat-slide-toggle (change)="changeTheme($event)"></mat-slide-toggle>
      <mat-icon>dark_mode</mat-icon>
    </span>
  </div>
</div>
