<div class="container">
  <h1 [routerLink]="''">myThesis</h1>
  <app-search></app-search>
  <div class="menu">
    <mat-divider vertical="true"></mat-divider>
    <button mat-flat-button (click)="openAttractionListDialog()">
      Saved
      <mat-icon>favorite</mat-icon>
    </button>
    <mat-divider vertical="true"></mat-divider>
    <button
      mat-flat-button
      [matMenuTriggerFor]="menu"
      *ngIf="!this.state.isLoggedIn"
    >
      Profile
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openLoginDialog()">Log-in</button>
      <button mat-menu-item (click)="openCreateAccountDialog()">
        Create account
      </button>
    </mat-menu>
    <button
      mat-flat-button
      [matMenuTriggerFor]="logmenu"
      *ngIf="this.state.isLoggedIn"
    >
      {{ this.state.account.username }}
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #logmenu="matMenu">
      <button mat-menu-item [routerLink]="['uploads']">Uploads</button>
      <button mat-menu-item (click)="onLogOut()">Log out</button>
    </mat-menu>
    <mat-divider vertical="true"></mat-divider>
  </div>
</div>
