.wrapper {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.list {
  width: 45%;
  height: 85%;
  min-width: fit-content;
  max-height: fit-content;
  text-align: center;
  overflow-y: auto;
}

.map {
  width: 45%;
  height: 80%;
  place-self: start;
}

.card {
  display: grid;
  grid-template-areas:
    "marker header header-img"
    "marker content img"
    "marker content img"
    "marker content img";
  grid-gap: 1%;
  grid-template-columns: 30px 250px 150px;
}

.card-marker {
  place-self: center;
  grid-area: marker;
}

.card-header {
  grid-area: header;
  text-align: start;
  width: 100%;
}

.header-img {
  place-self: center;
}

.card-content {
  grid-area: content;
  text-align: start;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse;
    overflow-anchor: auto;
    justify-content: flex-end;
    height: 100%;
  }
  .map {
    place-self: center;
    min-width: 80%;
    min-height: 80%;
  }
  .list {
    place-self: center;
    height: fit-content;
    overflow: visible;
  }

  @media screen and (max-width: 425px) {
    .card {
      grid-template-columns: 20px 240px 120px;
    }
  }
  @media screen and (max-width: 375px) {
    .card {
      grid-template-columns: 20px 200px 110px;
    }
  }
  @media screen and (max-width: 320px) {
    .card {
      grid-template-columns: 20px 165px 100px;
    }
  }
}
