.wrapper {
  height: fit-content;
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  //place-items: center;
}
.list {
  width: 45%;
  height: 85%;
  min-width: fit-content;
  text-align: center;
  text-justify: auto;
  //scroll-behavior: smooth;
}

.map {
  width: 45%;
  height: 80%;
  min-width: 250px;
  min-height: 300px;
}
.card {
  display: grid;
  grid-template-areas:
    "marker header header-img"
    "marker content img"
    "marker content img"
    "marker content img";

  grid-gap: 1%;
}

.card-marker {
  place-self: center;
  max-width: 20px;
  min-width: 20px;
  grid-area: marker;
}

.card-header {
  grid-area: header;
  text-align: left;
  width: 100%;
}
.header-img {
  place-self: center;
}
.card-content {
  grid-area: content;
  text-align: left;
}
