.card {
  display: grid;
  grid-template-areas:
    " header header header-img"
    " content . img"
    " content . img"
    " content . img";
  place-items: center;
  grid-gap: 1%;
}
.card-header {
  grid-area: header;
  place-content: strech;
  display: flex;
  width: 100%;
}
.card-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}
