<mat-dialog-content>
  <p *ngIf="state.isLoggedIn == false; else attractionList">
    Log in to view saved attractions
  </p>
  <ng-template #attractionList>
    <mat-card class="card" *ngFor="let item of state.account.attractions">
      <div class="card-header">
        <mat-card-title style="place-self: start">{{
          item.name
        }}</mat-card-title>
      </div>
      <button
        mat-icon-button
        (click)="
          onRemoveAttraction(this.state.account.id, item.name, item.address)
        "
      >
        <mat-icon>remove_cirle</mat-icon>
      </button>
      <div class="card-content">
        <mat-card-content>Address: {{ item?.address }}</mat-card-content>
        <mat-card-content>Rating : {{ item?.rating }} / 5</mat-card-content>
        <mat-card-content>
          Total Reviews : {{ item?.totalReviews }}
        </mat-card-content>
      </div>
      <mat-card-content style="grid-area: img">
        <img style="grid-area: img" [src]="item?.imgUrl" />
      </mat-card-content>
    </mat-card>
  </ng-template>
</mat-dialog-content>
<mat-dialog-actions>
  <mat-dialog-actions>
    <button mat-button (click)="closeDialog()">Cancel</button>
  </mat-dialog-actions>
</mat-dialog-actions>
